body {
  background: #eee;
  margin:0;
  padding: 0;
}
.image-slider-test img {
  max-width: 500px;
  height: 100%;
  background-size: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width:500px;
}
