body {
  background: #eee;
  margin:0;
  padding: 0;
}
.image-slider-test img {
  max-width: 500px;
  height: 100%;
  background-size: cover;
  
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
 
 
.image-slider-test .left  {
 transform: translateX(200px);
 transition: all 1s ease-out;
}
.image-slider-test .right  {
  transform: translateX(0);
  transition: all 1s ease-out;
 }
